@use 'styles' as *;

.input {
  border-radius: 5px;
  font-family: $Montserrat;
  height: 2.875rem;
  width: 21rem;
}

.label {
  font-family: $Montserrat;
  font-size: 1rem;
  color: $color-black;
  margin-bottom: 0.2rem;
}
