@use 'src/styles' as *;

.main {
  display: grid;
  grid-column-gap: 200px;
  grid-template-columns: 1fr auto auto 1fr;
  grid-template-rows:
    1rem auto 1.5rem auto 2.25rem auto auto;
  justify-content: space-around;
  padding: 1.9rem 0 0 0;
  position: relative;
  width: 100%;
}

@mixin left-column {
  grid-column: 2 / 3;
}

.heading1 {
  @include flex-column;
  @include left-column;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 30px auto;
  grid-row: 2 / 3;
}

.headingPrimary {
  font-family: $Montserrat;
  font-size: 2.875rem;
  font-weight: 700;
  grid-column: 2 / -1;
  line-height: 2.875rem;
}

.headingSecondary {
  font-family: $Montserrat;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 2.875rem;
  grid-column: 1 / -1;
}

.heading2 {
  @include left-column;
  color: $color-black;
  font-family: $Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  width: 376px;
  grid-row: 4 / 5;
}

.form {
  @include left-column;
  @include flex-row;
  align-items: flex-end;
  gap: 1.5rem;
  grid-row: 6 / 7;
}

.input {
  border-radius: 5px;
  font-family: $Montserrat;
  height: 2.875rem;
  width: 21rem;
  font-size: 1rem;
}

.icon {
  margin: 0 0.5rem;
  color: #444141;
}

.label {
  color: $color-black;
  font-family: $Montserrat;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.2rem;
}

@mixin right-column {
  grid-column: 3 / 4;
}

.image {
  @include right-column;
  border-radius: 77.0026px 0px 0px 77.0026px;
  grid-row: 1 / -1;
}
