/*** SPACING ***/

// 1600px
$max-width: 100rem;
// 100px
$lOOpx: 6.25rem;
// 10px;
$lOpx: 0.625rem;
// 8px
$mat-grid: 0.5rem;

$nav-bar-z-index: 100;

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}
